
body {
  color: #000000;
}

a {
  color: #0000ee;
}

li a.active {
  color: #0000ee;
}

.site-name a {
  color: #0000ee;
}

a:hover {
  color: #551a8b;
}

.messages {
  color: #000000;
}

.messages ul {
  color: #000000;
}

.messages ul li {
  color: #000000;
}

h1 {
  color: #333333;
}

h2 {
  color: #333333;
}

h3 {
  color: #333333;
}

h4 {
  color: #333333;
}

h5 {
  color: #333333;
}

h6 {
  color: #333333;
}

.rotating-banner {
  color: #333333;
}


