/** 
* @file
* Initial style definition by Acquia.
*
* The font size of all elements is set to 13px in default.css.  
* All subsequent measurements such as line height, margins and padding are calculated from this 13px font size.
* The line height is augmented from 18px to 19px for this theme
*
* @see default.css
*/

/* @group Palette */

/**
* Colors
* white    #FFFFFF - White
* black    #000000 - Black
* a        #333333 - Dark Gray
* b        #551a8b - HTML Purple
* c        #666666 - Medium Gray
* d        #0000ee - HTML Blue
* e        #999999 - Gray
*/

body {
  color: #000000;
}

a {
  color: #0000ee;
}

li a.active {
  color: #0000ee;
}

.site-name a {
  color: #0000ee;
}

a:hover {
  color: #551a8b;
}

.messages {
  color: #000000;
}

.messages ul {
color: #000000;
}

.messages ul li {
  color: #000000;
}

h1 {
  color: #333333;
}

h2 {
  color: #333333;
}

h3 {
  color: #333333;
}

h4 {
  color: #333333;
}

h5 {
  color: #333333;
}

h6 {
  color: #333333;
}

.rotating-banner {
  color: #333333;
}

/* @end */
/* General */
#navbar {
	background-color: #46166b;
	color: #fff;
}
.region-navigation{
	width: 100%;
	float: left;
	background: #F8F8F8;
}

#block-system-main-menu {
	float: left;
}
#block-system-main-menu ul li {
	float: left;
}
#block-system-user-menu{
	float: right;
}
#block-system-user-menu ul li{
	float: right;
}

.main-container {
	margin-top:100px;
}
/*Front page Start*/
#block-block-1{
	background: #f8f8f8;
    padding: 40px;
    border-radius: 10px;

}
#block-block-1 h1{
	color: #46166b;
	font-size: 45px;
	font-weight: bold;
	margin-top: 0;
}
#block-block-1 p{
	font-size: 20px;
}
#block-views-frontpage-block-1 .block-title{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: #46166b;
	line-height: 60px;
	text-transform: uppercase;
}
#block-views-frontpage-block-1 .views-row{
    background: #f8f8f8;
    padding: 15px;
    min-height: 260px;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
	color: #616365
 }
 #block-views-frontpage-block-1 .views-row:hover{
    background: #46166b;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	color: #f8f8f8;
 }
#block-views-frontpage-block-1 .views-row a{
	color: #4A245E;
    font-weight: bold;
    text-decoration: none;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
#block-views-frontpage-block-1 .views-row:hover a{
	color: #ffffff;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
#block-views-frontpage-block-1 .views-field-field-location{
	float: left;
	font-weight: bold;
	margin-right: 5px;
}

#block-views-frontpage-block-1 .views-field-field-date{
float: left;

}

#block-views-frontpage-block-1 .view-footer p {
    text-align: center;
    padding-top: 30px;
    clear: both;
}

#block-views-frontpage-block-1 .view-footer a{

}
#block-views-frontpage-block-1 .view-footer .more-events{
background: #fff;
    padding: 10px 20px;
    color: #46166b;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #46166b;
    text-decoration: none;
		-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
#block-views-frontpage-block-1 .view-footer .more-events:hover{
	background: #46166b;
    border: 3px solid #46166b;
	color: #ffffff;
		-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}



/*Front page End*****************************/


/*Event Page start*/
body.node-type-event .field-name-field-picture {
float: left;
width: 50%;
}

body.node-type-event .field-name-field-location {
float: left;
margin-right: 10px;
}

body.node-type-event .field-name-field-date {
    float: left;
    width: 38%;
}
body.node-type-event .field-name-body {
    display: initial;
    font-size: 20px;
	line-height: 29px;
}
h2.block-title{
font-size: 25px;
font-weight: bold;
text-transform: uppercase;
}
#block-views-all-events-block-1 .myblock-content{
    background-color: #f8f8f8;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 0;
    float: left;
    padding: 0;
    border: 1px solid #ccc;
}
#block-views-event-sessions-block{
float: left;
width: 66.666%
}
#block-views-all-events-block-1{
    float: left;
    width: 31%;
    margin-right: 2%;
    margin-top: 20px;
}
#block-views-all-events-block-1 h2.block-title{
	background-color: #46166b;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
	margin-top: 0;
}
#block-views-all-events-block-1 .views-row{
    float: left;
    width: 100%;
    background: #f8f8f8;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
	padding: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
#block-views-all-events-block-1 .views-row  a{
font-weight: bold;
    text-decoration: none;
}
#block-views-all-events-block-1 .views-row:hover{
	background: #46166b;
	color: #f8f8f8;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;

}
#block-views-all-events-block-1 .views-row:hover a{
color: #fff;

}
#block-views-all-events-block-1 .views-field-field-picture{
    float: left;
    width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}
#block-views-all-events-block-1 .views-field-title{
    float: left;
    width: 73%;
    min-height: 35px;
}

#block-views-all-events-block-1 .views-field-field-location{
	float: left;
    margin-right: 5px;
    background: #FFF;
    padding: 0 5px 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
	color:#333;
}
#block-views-all-events-block-1 .views-field-field-date{
float: left;
color: #ABABAB;
}
#block-views-event-sessions-block .table-responsive{
margin-top: 20px;
}
#block-views-event-sessions-block thead:first-child  tr{
background-color: #616365;
color: #fff;
}
#block-views-event-sessions-block tr:first-child  th{
line-height: 33px;
}

#block-views-event-sessions-block .views-field-field-presenter-1 {
    position: relative;
}
#block-views-event-sessions-block .views-field-field-presenter-1 .field-name-field-picture{
	float: left;
	width: 40px;
	position: absolute;
}
#block-views-event-sessions-block .views-field-field-presenter-1 .presenter-header{
	float: left;
	margin: 0;
	padding: 0;
	font-size: 12px;
    padding-left: 45px;
	font-weight: bold;
	margin-top: 5px;
}
#block-views-event-sessions-block .views-field-field-presenter-1 h2.presenter-header a{
    text-decoration: none;
}
#block-views-event-sessions-block .views-field-field-presenter-1 .field-name-field-affiliation{
    float: left;
    padding-left: 45px;
    font-size: 11px;
}
#block-views-event-sessions-block  .views-field-title{

}
#block-views-event-sessions-block  .views-field-title a{
    text-decoration: none;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}
#block-views-event-sessions-block  .views-field-title a:hover{
color:#0093D0;
}


#block-views-event-sessions-block .views-field-nothing{
position: relative;
}
.footer{
    background: #46166b;
    color: #f8f8f8;
    font-weight: bold;
    width: 100%;
    padding-left: 120px;
}

.presenter-bio{
position:absolute;
width:500px;
top:0;
left:0;
background:red;
overflow: hidden;
z-index:10000;
display:none;
}
.presenter-icon:hover + .presenter-bio{
 display:block;
}


/*Event Page end*****************************/

/*All Events Page*/

.all-events-page .views-row{
    background: #f8f8f8;
    width: auto;
    margin: 5px;
    padding: 10px;
    border-bottom: 4px solid #eee;
		-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.all-events-page .views-row a{
   color: #4A245E;
   text-decoration: none;
   font-weight: bold;
}
.all-events-page .views-row:hover {
background:#4A245E;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;

}.all-events-page .views-row:hover a{
   color: #fff;

}
.all-events-page .views-field-title{
min-height: 35px;
}
.all-events-page .views-field-field-location{
    float: left;
    margin-right: 5px;
    background: #fff;
    padding: 0 5px 2px;
    border: 1px solid #eee;
    border-radius: 3px;
}
.all-events-page .views-field-field-date{
float: left;
color:#a1a1a1;
}

.all-events-page #edit-field-date-value-min-wrapper{float: left;}
.all-events-page #edit-field-date-value-max-wrapper{float: left;}
/*All Events Page******************/

/*Session page*/
body.node-type-session .field-name-field-presenter{}
/* Session page***************/